.link {
  display: inline-block;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
  margin: 0 5px;

  border: 2px solid rgb(6, 0, 0);
  background-color: #fff;
  text-decoration: none;
  color: #020291;

  &:global(.active) {
    font-weight: 700;
    color: #fff;
    background-color: #eb1734;
  }
}
