.title {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.phonebook {
  width: 500px;
  margin: 0 auto;
}

.block {
  margin-bottom: 10px;
}
